<p id="notice"><%= notice %></p>

<p>
  <strong>Ville:</strong>
  <%= @location.ville %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
   <strong>Current weather :</strong>
   <% if @weatherIconName %>
    <i class="wi-forecast-io-<%= @weatherIconName %>"></i>
   <% else %>
     Unvailable
   <% end %> 
 </p>
 
 <p>
   <strong>Current temperature :</strong>
   <% if @weatherTemperature%>
      <%= '%.2f' % @weatherTemperature %> &deg;C
   <% else %>
      Unvailable
   <% end %>
 </p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
